/* Define base styles for all nav links */
.nav-link {
  color: #000; /* Default text color */
  padding: 8px 16px;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

/* Define styles for the active nav link */
.active-link {
  color: #31795a; /* Active text color */
  background-color: transparent; /* Remove black background */
  border-bottom: 2px solid #31795a; /* Add underline */
}
